<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    DocumentRoot /var/www/html/vitrineweb

    <Directory /var/www/html/vitrineweb>
        Options Indexes FollowSymLinks
        AllowOverride None
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/vitrineweb_error.log
    CustomLog ${APACHE_LOG_DIR}/vitrineweb_access.log combined
</VirtualHost>
